-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: asset_management_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `asset_check`
--

DROP TABLE IF EXISTS `asset_check`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `asset_check` (
  `check_id` int(11) NOT NULL AUTO_INCREMENT,
  `asset_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `check_date` date NOT NULL,
  `check_status` enum('α╣âα╕èα╣ëα╕çα╕▓α╕Öα╣äα╕öα╣ë','α╕úα╕¡α╕ïα╣êα╕¡α╕í','α╕úα╕¡α╕êα╕│α╕½α╕Öα╣êα╕▓α╕ó','α╕êα╕│α╕½α╕Öα╣êα╕▓α╕óα╣üα╕Ñα╣ëα╕º','α╣äα╕íα╣êα╕₧α╕Ü') DEFAULT 'α╣âα╕èα╣ëα╕çα╕▓α╕Öα╣äα╕öα╣ë',
  `remark` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`check_id`),
  KEY `idx_asset_check` (`asset_id`,`check_date`),
  KEY `idx_check_date` (`check_date`),
  KEY `fk_check_user` (`user_id`),
  CONSTRAINT `fk_check_asset` FOREIGN KEY (`asset_id`) REFERENCES `assets` (`asset_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_check_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=75 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asset_check`
--

LOCK TABLES `asset_check` WRITE;
/*!40000 ALTER TABLE `asset_check` DISABLE KEYS */;
/*!40000 ALTER TABLE `asset_check` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `asset_history`
--

DROP TABLE IF EXISTS `asset_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `asset_history` (
  `history_id` int(11) NOT NULL AUTO_INCREMENT,
  `asset_id` int(11) NOT NULL,
  `old_location_id` int(11) DEFAULT NULL,
  `new_location_id` int(11) DEFAULT NULL,
  `moved_by` int(11) NOT NULL,
  `move_date` date NOT NULL,
  `remark` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`history_id`),
  KEY `idx_asset_history` (`asset_id`,`move_date`),
  KEY `fk_history_old_location` (`old_location_id`),
  KEY `fk_history_new_location` (`new_location_id`),
  KEY `fk_history_user` (`moved_by`),
  CONSTRAINT `fk_history_asset` FOREIGN KEY (`asset_id`) REFERENCES `assets` (`asset_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_history_new_location` FOREIGN KEY (`new_location_id`) REFERENCES `locations` (`location_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_history_old_location` FOREIGN KEY (`old_location_id`) REFERENCES `locations` (`location_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_history_user` FOREIGN KEY (`moved_by`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asset_history`
--

LOCK TABLES `asset_history` WRITE;
/*!40000 ALTER TABLE `asset_history` DISABLE KEYS */;
INSERT INTO `asset_history` VALUES (4,3072,7,2,2,'2026-05-22','','2026-05-22 11:40:30');
/*!40000 ALTER TABLE `asset_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assets`
--

DROP TABLE IF EXISTS `assets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `assets` (
  `asset_id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'α╕úα╕½α╕▒α╕¬α╕äα╕úα╕╕α╕áα╕▒α╕ôα╕æα╣î (PK)',
  `asset_name` varchar(255) NOT NULL COMMENT 'α╕èα╕╖α╣êα╕¡α╕äα╕úα╕╕α╕áα╕▒α╕ôα╕æα╣î',
  `serial_number` text DEFAULT NULL COMMENT 'α╕½α╕íα╕▓α╕óα╣Çα╕Ñα╕éα╕ïα╕╡α╣Çα╕úα╕╡α╕óα╕Ñ',
  `quantity` int(11) DEFAULT 1 COMMENT 'α╕êα╕│α╕Öα╕ºα╕Ö',
  `unit` varchar(50) DEFAULT 'α╣Çα╕äα╕úα╕╖α╣êα╕¡α╕ç' COMMENT 'α╕½α╕Öα╣êα╕ºα╕óα╕Öα╕▒α╕Ü',
  `price` decimal(15,2) DEFAULT 0.00 COMMENT 'α╕íα╕╣α╕Ñα╕äα╣êα╕▓α╕äα╕úα╕╕α╕áα╕▒α╕ôα╕æα╣î (α╕Üα╕▓α╕ù)',
  `received_date` date DEFAULT NULL COMMENT 'α╕ºα╕▒α╕Öα╕ùα╕╡α╣êα╕úα╕▒α╕Üα╣Çα╕éα╣ëα╕▓α╕äα╕Ñα╕▒α╕ç',
  `department_id` int(11) DEFAULT NULL COMMENT 'α╕úα╕½α╕▒α╕¬α╕½α╕Öα╣êα╕ºα╕óα╕çα╕▓α╕Ö (FK)',
  `delivery_number` varchar(100) DEFAULT NULL COMMENT 'α╣Çα╕Ñα╕éα╕ùα╕╡α╣êα╣âα╕Üα╕¬α╣êα╕çα╕éα╕¡α╕ç',
  `fund_code` varchar(50) DEFAULT NULL COMMENT 'α╕úα╕½α╕▒α╕¬α╕üα╕¡α╕çα╕ùα╕╕α╕Ö',
  `plan_code` varchar(50) DEFAULT NULL COMMENT 'α╕úα╕½α╕▒α╕¬α╣üα╕£α╕Öα╕çα╕▓α╕Ö',
  `project_code` varchar(50) DEFAULT NULL COMMENT 'α╕úα╕½α╕▒α╕¬α╕çα╕▓α╕Ö/α╣éα╕äα╕úα╕çα╕üα╕▓α╕ú',
  `location_id` int(11) DEFAULT NULL COMMENT 'α╕úα╕½α╕▒α╕¬α╕¬α╕ûα╕▓α╕Öα╕ùα╕╡α╣ê (FK)',
  `status` varchar(50) DEFAULT 'α╣âα╕èα╣ëα╕çα╕▓α╕Öα╣äα╕öα╣ë' COMMENT 'α╕¬α╕ûα╕▓α╕Öα╕░α╕äα╕úα╕╕α╕áα╕▒α╕ôα╕æα╣î',
  `barcode` varchar(100) DEFAULT NULL COMMENT 'α╕½α╕íα╕▓α╕óα╣Çα╕Ñα╕éα╕äα╕úα╕╕α╕áα╕▒α╕ôα╕æα╣î/α╕Üα╕▓α╕úα╣îα╣éα╕äα╣ëα╕ö',
  `description` text DEFAULT NULL COMMENT 'α╕úα╕▓α╕óα╕Ñα╕░α╣Çα╕¡α╕╡α╕óα╕ö/α╕äα╕╕α╕ôα╕¬α╕íα╕Üα╕▒α╕òα╕┤',
  `reference_number` varchar(255) DEFAULT NULL COMMENT 'α╕½α╕íα╕ºα╕öα╕¬α╕┤α╕Öα╕ùα╕úα╕▒α╕₧α╕óα╣î/α╣Çα╕Ñα╕éα╕¡α╣ëα╕▓α╕çα╕¡α╕┤α╕ç',
  `image` varchar(255) DEFAULT NULL COMMENT 'α╕úα╕╣α╕¢α╕áα╕▓α╕₧α╕äα╕úα╕╕α╕áα╕▒α╕ôα╕æα╣î',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT 'α╕ºα╕▒α╕Öα╕ùα╕╡α╣êα╕¬α╕úα╣ëα╕▓α╕çα╕éα╣ëα╕¡α╕íα╕╣α╕Ñ',
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT 'α╕ºα╕▒α╕Öα╕ùα╕╡α╣êα╣üα╕üα╣ëα╣äα╕éα╕Ñα╣êα╕▓α╕¬α╕╕α╕ö',
  PRIMARY KEY (`asset_id`),
  KEY `idx_serial` (`serial_number`(768)),
  KEY `idx_barcode` (`barcode`),
  KEY `idx_status` (`status`),
  KEY `idx_department` (`department_id`),
  KEY `idx_location` (`location_id`),
  CONSTRAINT `fk_asset_department` FOREIGN KEY (`department_id`) REFERENCES `departments` (`department_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_asset_location` FOREIGN KEY (`location_id`) REFERENCES `locations` (`location_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3645 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assets`
--

LOCK TABLES `assets` WRITE;
/*!40000 ALTER TABLE `assets` DISABLE KEYS */;
/*!40000 ALTER TABLE `assets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audittrail`
--

DROP TABLE IF EXISTS `audittrail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audittrail` (
  `audit_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `asset_id` int(11) DEFAULT NULL,
  `action` enum('Add','Edit','Move','Check','Delete','Borrow','Return') DEFAULT NULL,
  `old_value` text DEFAULT NULL,
  `new_value` text DEFAULT NULL,
  `action_date` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`audit_id`),
  KEY `idx_audit_date` (`action_date`),
  KEY `idx_audit_user` (`user_id`),
  KEY `idx_audit_asset` (`asset_id`),
  CONSTRAINT `fk_audit_asset` FOREIGN KEY (`asset_id`) REFERENCES `assets` (`asset_id`) ON DELETE SET NULL,
  CONSTRAINT `fk_audit_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=91 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audittrail`
--

LOCK TABLES `audittrail` WRITE;
/*!40000 ALTER TABLE `audittrail` DISABLE KEYS */;
/*!40000 ALTER TABLE `audittrail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `borrow`
--

DROP TABLE IF EXISTS `borrow`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `borrow` (
  `borrow_id` int(11) NOT NULL AUTO_INCREMENT,
  `asset_id` int(11) NOT NULL,
  `borrower_name` varchar(100) NOT NULL,
  `borrow_date` date NOT NULL,
  `due_date` date DEFAULT NULL,
  `return_date` date DEFAULT NULL,
  `status` enum('α╕óα╕╖α╕í','α╕äα╕╖α╕Öα╣üα╕Ñα╣ëα╕º') DEFAULT 'α╕óα╕╖α╕í',
  `remark` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`borrow_id`),
  KEY `idx_borrow_status` (`status`),
  KEY `idx_borrow_date` (`borrow_date`),
  KEY `fk_borrow_asset` (`asset_id`),
  CONSTRAINT `fk_borrow_asset` FOREIGN KEY (`asset_id`) REFERENCES `assets` (`asset_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `borrow`
--

LOCK TABLES `borrow` WRITE;
/*!40000 ALTER TABLE `borrow` DISABLE KEYS */;
INSERT INTO `borrow` VALUES (5,3072,'α╣êjirachot saonram','2026-05-24',NULL,'2026-05-24','α╕äα╕╖α╕Öα╣üα╕Ñα╣ëα╕º',NULL,'2026-05-24 04:48:25','2026-05-24 04:48:35'),(6,3328,'Jirachot Saonram','2026-05-24','2026-05-31',NULL,'α╕óα╕╖α╕í',NULL,'2026-05-24 10:07:50','2026-05-24 10:07:50');
/*!40000 ALTER TABLE `borrow` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments`
--

DROP TABLE IF EXISTS `departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `departments` (
  `department_id` int(11) NOT NULL AUTO_INCREMENT,
  `faculty` varchar(100) DEFAULT NULL,
  `division_name` varchar(200) DEFAULT NULL COMMENT '???????',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`department_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments`
--

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
INSERT INTO `departments` VALUES (1,'α╕äα╕ôα╕░α╣Çα╕ùα╕äα╣éα╕Öα╣éα╕Ñα╕óα╕╡α╣üα╕Ñα╕░α╕üα╕▓α╕úα╕êα╕▒α╕öα╕üα╕▓α╕úα╕¡α╕╕α╕òα╕¬α╕▓α╕½α╕üα╕úα╕úα╕í','α╕áα╕▓α╕äα╕ºα╕┤α╕èα╕▓α╣Çα╕ùα╕äα╣éα╕Öα╣éα╕Ñα╕óα╕╡α╕¬α╕▓α╕úα╕¬α╕Öα╣Çα╕ùα╕¿','2026-05-22 06:28:36');
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `import_history`
--

DROP TABLE IF EXISTS `import_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `import_history` (
  `import_id` int(11) NOT NULL AUTO_INCREMENT,
  `import_date` datetime DEFAULT current_timestamp(),
  `filename` varchar(255) DEFAULT NULL,
  `total_rows` int(11) DEFAULT NULL,
  `success_count` int(11) DEFAULT NULL,
  `failed_count` int(11) DEFAULT NULL,
  `user_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`import_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `import_history_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `import_history`
--

LOCK TABLES `import_history` WRITE;
/*!40000 ALTER TABLE `import_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `import_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `locations`
--

DROP TABLE IF EXISTS `locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `locations` (
  `location_id` int(11) NOT NULL AUTO_INCREMENT,
  `building_name` varchar(100) NOT NULL,
  `floor` varchar(10) DEFAULT NULL,
  `room_number` varchar(50) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`location_id`),
  KEY `idx_building` (`building_name`),
  KEY `idx_room` (`room_number`)
) ENGINE=InnoDB AUTO_INCREMENT=88 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `locations`
--

LOCK TABLES `locations` WRITE;
/*!40000 ALTER TABLE `locations` DISABLE KEYS */;
/*!40000 ALTER TABLE `locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `login_attempts`
--

DROP TABLE IF EXISTS `login_attempts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `login_attempts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(100) NOT NULL,
  `attempt_time` datetime NOT NULL,
  `success` tinyint(1) DEFAULT 0,
  `ip_address` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_username_time` (`username`,`attempt_time`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `login_attempts`
--

LOCK TABLES `login_attempts` WRITE;
/*!40000 ALTER TABLE `login_attempts` DISABLE KEYS */;
/*!40000 ALTER TABLE `login_attempts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_settings`
--

DROP TABLE IF EXISTS `system_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_settings` (
  `setting_id` int(11) NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(100) NOT NULL,
  `setting_value` text DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`setting_id`),
  UNIQUE KEY `setting_key` (`setting_key`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_settings`
--

LOCK TABLES `system_settings` WRITE;
/*!40000 ALTER TABLE `system_settings` DISABLE KEYS */;
INSERT INTO `system_settings` VALUES (1,'annual_check_start','2026-05-15',NULL,'2026-05-21 14:01:21'),(2,'annual_check_end','2026-07-31',NULL,'2026-05-21 14:06:03');
/*!40000 ALTER TABLE `system_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `user_id` int(11) NOT NULL AUTO_INCREMENT,
  `google_sub_id` varchar(255) DEFAULT NULL,
  `fullname` varchar(100) NOT NULL,
  `avatar_url` text DEFAULT NULL,
  `role` enum('Admin','Inspector','Authority','User') NOT NULL DEFAULT 'User',
  `status` enum('Active','Inactive') NOT NULL DEFAULT 'Active',
  `email` varchar(100) DEFAULT NULL,
  `auth_provider` varchar(50) DEFAULT 'local',
  `phone` varchar(20) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `google_sub_id` (`google_sub_id`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `v_assets_with_check_info`
--

DROP TABLE IF EXISTS `v_assets_with_check_info`;
/*!50001 DROP VIEW IF EXISTS `v_assets_with_check_info`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_assets_with_check_info` AS SELECT
 1 AS `asset_id`,
  1 AS `asset_name`,
  1 AS `serial_number`,
  1 AS `quantity`,
  1 AS `unit`,
  1 AS `price`,
  1 AS `received_date`,
  1 AS `department_id`,
  1 AS `delivery_number`,
  1 AS `fund_code`,
  1 AS `plan_code`,
  1 AS `project_code`,
  1 AS `location_id`,
  1 AS `status`,
  1 AS `barcode`,
  1 AS `description`,
  1 AS `reference_number`,
  1 AS `image`,
  1 AS `created_at`,
  1 AS `updated_at`,
  1 AS `faculty_name`,
  1 AS `division_name`,
  1 AS `building_name`,
  1 AS `floor`,
  1 AS `room_number`,
  1 AS `last_check_date`,
  1 AS `last_checker`,
  1 AS `last_check_status` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `v_assets_with_check_info`
--

/*!50001 DROP VIEW IF EXISTS `v_assets_with_check_info`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_assets_with_check_info` AS select `a`.`asset_id` AS `asset_id`,`a`.`asset_name` AS `asset_name`,`a`.`serial_number` AS `serial_number`,`a`.`quantity` AS `quantity`,`a`.`unit` AS `unit`,`a`.`price` AS `price`,`a`.`received_date` AS `received_date`,`a`.`department_id` AS `department_id`,`a`.`delivery_number` AS `delivery_number`,`a`.`fund_code` AS `fund_code`,`a`.`plan_code` AS `plan_code`,`a`.`project_code` AS `project_code`,`a`.`location_id` AS `location_id`,`a`.`status` AS `status`,`a`.`barcode` AS `barcode`,`a`.`description` AS `description`,`a`.`reference_number` AS `reference_number`,`a`.`image` AS `image`,`a`.`created_at` AS `created_at`,`a`.`updated_at` AS `updated_at`,`d`.`faculty` AS `faculty_name`,`d`.`division_name` AS `division_name`,`l`.`building_name` AS `building_name`,`l`.`floor` AS `floor`,`l`.`room_number` AS `room_number`,`ac_latest`.`check_date` AS `last_check_date`,`u_latest`.`fullname` AS `last_checker`,`ac_latest`.`check_status` AS `last_check_status` from (((((`assets` `a` left join `departments` `d` on(`a`.`department_id` = `d`.`department_id`)) left join `locations` `l` on(`a`.`location_id` = `l`.`location_id`)) left join (select `asset_check`.`asset_id` AS `asset_id`,max(`asset_check`.`check_id`) AS `latest_check_id` from `asset_check` group by `asset_check`.`asset_id`) `latest_ids` on(`a`.`asset_id` = `latest_ids`.`asset_id`)) left join `asset_check` `ac_latest` on(`latest_ids`.`latest_check_id` = `ac_latest`.`check_id`)) left join `users` `u_latest` on(`ac_latest`.`user_id` = `u_latest`.`user_id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-25 20:10:54
